:root {
	--background-0: #0D0D10;
	--background-1: #15151a;
	--background-2: #22222a;
	--background-3: #373743;
	--background-4: #5E5E73;
	--background-1-rgba1: rgba(21, 21, 26, 1);
	--background-1-rgba0: rgba(21, 21, 26, 0.6);
	--foreground: #c2c2c3;

	--hover: #D2472A;

	--radius: 15px;
	--transition: 0.3s;

	--scores-table-template: 1fr 2fr 1fr 1fr 1fr 1.5fr 1fr 1fr;
}

body {
	background-color: var(--background-0);
	font-family: sans-serif;
	position: relative;
}

main {
	background-color: var(--background);
}

a {
	color: var(--foreground);
	text-decoration: none;
}

a:hover {
	color: var(--hover);
	transition: var(--transition);
}
